<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
  </head>
  <body>
    <main layout:fragment="content" class="bg-image vh-100">
      <div class="container pt-4">
        <div class="row justify-content-center">
          <div class="card shadow" style="max-width: 480px">
            <div class="card-body">
              <h3 class="card-title mb-3 text-center text-navy">
                ユーザー登録
              </h3>
              <form
                th:action="@{/register}"
                th:object="${user}"
                method="post"
                novalidate
              >
                <div class="mb-3">
                  <label for="username" class="form-label">
                    <span class="badge bg-danger">必須</span>
                    ユーザ名
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    th:errorclass="is-invalid"
                    th:field="*{username}"
                  />
                  <div class="invalid-feedback" th:errors="*{username}"></div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">
                    <span class="badge bg-danger">必須</span>
                    パスワード
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    th:errorclass="is-invalid"
                    th:field="*{password}"
                  />
                  <div class="invalid-feedback" th:errors="*{password}"></div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">
                    <span class="badge bg-danger">必須</span>
                  </label>
                  メールアドレス
                  <input
                    type="email"
                    class="form-control"
                    th:errorclass="is-invalid"
                    th:field="*{email}"
                  />
                  <div class="invalid-feedback" th:errors="*{email}"></div>
                </div>
                <div
                  class="ms-2 form-check"
                  th:each="gender:${T(com.example.myapp.util.Type).GENDERS}"
                >
                  <input
                    type="radio"
                    class="form-check-input"
                    th:field="*{gender}"
                    th:value="${gender.key}"
                  />
                  <label
                    th:for="${#ids.prev('gender')}"
                    th:text="${gender.value}"
                    class="form-check-label"
                  >
                  </label>
                </div>
                <div class="mb-3 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    th:field="*{admin}"
                  />
                  <label
                    th:for="${#ids.prev('admin')}"
                    class="form-check-label"
                  >
                    管理者(Admin)として登録する
                  </label>
                </div>
                <button class="w-100 btn btn-navy" type="submit">登録</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
